@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100;400&family=Noto+Sans:wght@500;900&family=Open+Sans&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nanum Gothic', 'Noto Sans KR', 'Noto Sans', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}